{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
<h1>Courses</h1>
<a class="btn btn-success" href="{{ path('course_new') }}">Create new</a>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Content</th>
        <th>Createdat</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for course in courses %}
    <tr>
        <td>{{ course.id }}</td>
        <td>{{ course.title }}</td>
        <td>{{ course.content }}</td>
        <td>{{ course.createdat ? course.createdat|date('Y-m-d H:i:s') : '' }}</td>
        <td>
            <a class="btn btn-success" href="{{ path('course_show', {'id': course.id}) }}"><i class="far fa-eye"></i></a>
            <a class="btn btn-success" href="{{ path('course_edit', {'id': course.id}) }}"><i class="fas fa-pen"></i></a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="5">no records found</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
