{% extends 'base.html.twig' %}

{% block title %}Answer index{% endblock %}

{% block body %}
<h1 class="big-titles">Answers</h1>
<a class="btn btn-success create-new" href="{{ path('answer_new') }}">Create new</a>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Value</th>
        <th>Correct</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for answer in answers %}
    <tr>
        <td>{{ answer.id }}</td>
        <td>{{ answer.value }}</td>
        <td>{{ answer.correct ? 'Yes' : 'No' }}</td>
        <td>
            <a class="btn btn-success" href="{{ path('answer_show', {'id': answer.id}) }}"><i
                    class="far fa-eye"></i></a>
            <a class="btn btn-success" href="{{ path('answer_edit', {'id': answer.id}) }}"><i
                    class="fas fa-pen"></i></a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="4">no records found</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
