{% extends 'base.html.twig' %}

{% block title %}Answer{% endblock %}

{% block body %}
     <h1 class="big-titles">Answer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ answer.id }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ answer.value }}</td>
            </tr>
            <tr>
                <th>Correct</th>
                <td>{{ answer.correct ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn back-button" href="{{ path('answer_index') }}">back to list</a>

    <a class="btn update-button" href="{{ path('answer_edit', {'id': answer.id}) }}"><i class="fas fa-pen"></i></a>

    {{ include('answer/_delete_form.html.twig') }}
{% endblock %}
