{% extends 'base.html.twig' %}

{% block title %}Organization{% endblock %}

{% block body %}
    <h1>Organization</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ organization.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ organization.label }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('organization_index') }}">back to list</a>

    <a href="{{ path('organization_edit', {'id': organization.id}) }}">edit</a>

    {{ include('organization/_delete_form.html.twig') }}
{% endblock %}
