{% extends 'client/base-client.html.twig' %}

{% block content %}
<div class="container">
    <h2>Réponses de {{quizWork.user.firstName}} {{quizWork.user.lastName}}</h2>
    <hr/>
    <div>
        <ul>
            {% for index,answer in quizWork.answers %}
            <li>
                <p>Question : {{quizWork.quiz.questions[index].label}}</p>
                <p>Réponse : {{answer}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-12">
        <hr/>
        <h3>Quel niveau allez-vous attribué à {{ quizWork.user.firstname }} ?</h3>
        <hr/>
        {{ form_start(form) }}
            <div class="row mt-4 mb-4">
                <div class="col-12 col-lg-9 h-100">
                    <div class=" h-100 d-flex align-items-center">
                        {{ form_widget(form.level, {'attr': {'class': 'form-select'}}) }}
                    </div>
                </div>
                <div class="col-12 col-lg-3 ">
                    <div class=" h-100 d-flex align-items-center">
                        <button class="btn btn-primary btn-custom-1 w-100 mt-1 purple-proceos border-proceos">{{ button_label|default("Valider") }}</button>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
