{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <h1>Quiz</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quiz.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ quiz.label }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ quiz.createdat ? quiz.createdat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('quiz_index') }}">back to list</a>

    <a class="btn btn-success" href="{{ path('quiz_edit', {'id': quiz.id}) }}"><i class="fas fa-pen"></i></a>

    {{ include('quiz/_delete_form.html.twig') }}
{% endblock %}
