{% extends 'base.html.twig' %}

{% block title %}QuizWork{% endblock %}

{% block body %}
    <h1>QuizWork</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quiz_work.id }}</td>
            </tr>
            <tr>
                <th>Correctanswer</th>
                <td>{{ quiz_work.correctanswer }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ quiz_work.createdat ? quiz_work.createdat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('quiz_work_index') }}">back to list</a>

    <a class="btn btn-success" href="{{ path('quiz_work_edit', {'id': quiz_work.id}) }}"><i class="fas fa-pen"></i></a>

    {{ include('quiz_work/_delete_form.html.twig') }}
{% endblock %}
