{% extends './server/base.html.twig' %}

{% block title %}Module index{% endblock %}

{% block body %}
<h1 class="big-titles">Modules</h1>
<a class="btn btn-success create-new" href="{{ path('module_new') }}">Create new</a>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Createdat</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for module in modules %}
    <tr>
        <td>{{ module.id }}</td>
        <td>{{ module.label }}</td>
        <td>{{ module.createdat ? module.createdat|date('Y-m-d H:i:s') : '' }}</td>
        <td>
            <a class="btn btn-success" href="{{ path('module_show', {'id': module.id}) }}"><i
                    class="far fa-eye"></i></a>
            <a class="btn btn-success" href="{{ path('module_edit', {'id': module.id}) }}"><i
                    class="fas fa-pen"></i></a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="3">no records found</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
