{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
<h1>Users</h1>
<a href="{{path('create_user')}}" class="btn btn-success">Create user</a>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Profil Picture</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.email}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>
            {% if user.profilepicture is not null %}
            <img src="{{asset('/uploads/users/'~ user.profilepicture)}}" alt="profil picture {{user.firstname}} {{user.lastname}}" style="width: 100px">
            {% endif %}
        </td>
        <td>{{user.roles[0]}}
            <form action="{{path('admin_update_role',{id:user.id})}}" method="post">
                <select name="roles" id="roles">
                    <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                    <option value="ROLE_INTERVENANT">ROLE_INTERVENANT</option>
                    <option value="ROLE_ORGA_ADMIN">ROLE_ORGA_ADMIN</option>
                    <option value="ROLE_STUDENT">ROLE_STUDENT</option>
                </select>
                <input class="btn btn-primary" type="submit" value="update">
            </form>
        </td>
        <td>
            <a class="btn btn-success" href="{{path('update_user',{id:user.id})}}"><i class="fas fa-pen"></i></a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="5">no records found</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
