{% extends 'base.html.twig' %}

{% block title %}ExerciceWork index{% endblock %}

{% block body %}
<h1>ExerciceWork</h1>
<a class="btn btn-success" href="{{ path('exercice_work_new') }}">Create new</a>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Content</th>
        <th>Link</th>
        <th>Createdat</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for exercice_work in exercice_works %}
    <tr>
        <td>{{ exercice_work.id }}</td>
        <td>{{ exercice_work.content }}</td>
        <td>{{ exercice_work.link }}</td>
        <td>{{ exercice_work.createdat ? exercice_work.createdat|date('Y-m-d H:i:s') : '' }}</td>
        <td>
            <a class="btn btn-success" href="{{ path('exercice_work_show', {'id': exercice_work.id}) }}"><i
                    class="far fa-eye"></i></a>
            <a class="btn btn-success" href="{{ path('exercice_work_edit', {'id': exercice_work.id}) }}"><i
                    class="fas fa-pen"></i></a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="5">no records found</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
