{% extends 'base.html.twig' %}

{% block title %}ExerciceWork{% endblock %}

{% block body %}
    <h1>ExerciceWork</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exercice_work.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ exercice_work.content }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ exercice_work.link }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ exercice_work.createdat ? exercice_work.createdat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('exercice_work_index') }}">back to list</a>

    <a class="btn btn-success" href="{{ path('exercice_work_edit', {'id': exercice_work.id}) }}"><i class="fas fa-pen"></i></a>

    {{ include('exercice_work/_delete_form.html.twig') }}
{% endblock %}
