{% extends 'base.html.twig' %}

{% block title %}Forum index{% endblock %}

{% block body %}
<h1>Forums </h1>
<a class="btn btn-success" href="{{ path('forum_new') }}">Create new</a>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Label</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for forum in forums %}
    <tr>
        <td>{{ forum.id }}</td>
        <td>{{ forum.label }}</td>
        <td>
            <a class="btn btn-success" href="{{ path('forum_show', {'id': forum.id}) }}"><i class="far fa-eye"></i></a>
            <a class="btn btn-success" href="{{ path('forum_edit', {'id': forum.id}) }}"><i class="fas fa-pen"></i></a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="3">no records found</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
